

body, html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.central {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: aqua;
    /* ptopriedade que mavos transsicionar*/
    transition: width ;
   
    /* velocidade da transiçao*/
    transition-timing-function: ease;
    
/*duraçao da transicao*/
    transition-duration: 2s;
     /* ele atrasa o inicio da transiçao*/

    transition-delay: 2s;

}
.central:hover {
    width: 500px;
    height: 500px;
}