


body,html {
    height: 100vh;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(78, 91, 161);
    
}
.item {
background-color: rgb(106, 108, 216);
width: 300px;
color: rgb(255, 255, 255);
height: 50px;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}